build/Catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров
    </title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <nav class="main-navigation"><a class="main-header-logo" href="index.html"><img src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»"></a>
          <ul class="site-navigation">
            <li><a href="info.html">Информация</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="price.html">Прайс-лист</a></li>
            <li class="site-navigation-current"><a href="catalog.html">Магазин</a></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </header>
      <main class="inner-page">
        <h1 class="page-title">Средства для ухода</h1>
        <ul class="breadcrumbs">
          <li><a href="index.html">Главная</a></li>
          <li><a href="catalog.html">Магазин</a></li>
          <li class="breadcrumbs-current">Средства для ухода</li>
        </ul>
        <section class="filters">
          <h2 class="visually-hidden">Фильтр товаров</h2>
          <form class="filter" method="get" action="">
            <fieldset>
              <legend>Производители:</legend>
              <ul>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="Baxter-of-california" type="checkbox" name="Baxter of California" checked>
                  <label for="Baxter-of-california">Baxter of California</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="Mr-natty" type="checkbox" name="Mr Natty">
                  <label for="Mr-natty">Mr Natty</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="Suavecito" type="checkbox" name="Suavecito" checked>
                  <label for="Suavecito">Suavecito</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="Malin-goetz" type="checkbox" name="Malin+Goetz">
                  <label for="Malin-goetz">Malin+Goetz</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="Murray's" type="checkbox" name="Murray's">
                  <label for="Murray's">Murray's</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input=checkbox" id="American-crew" type="checkbox" name="American crew" checked>
                  <label for="American-crew">American crew</label>
                </li>
              </ul>
            </fieldset>
            <fieldset>
              <legend>Группы товаров:</legend>
              <ul>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input-radio" id="filter-shave" type="radio" name="product-group" value="shaving"/>
                  <label for="filter-shave">Бритвенные принадлежности</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input-radio" id="filter-care" type="radio" name="product-group" value="hair-care" checked="checked"/>
                  <label for="filter-care">Средства для ухода</label>
                </li>
                <li class="filter-option">
                  <input class="visually-hidden filter-input filter-input-radio" id="filter-accessories" type="radio" name="product-group" value="accessories"/>
                  <label for="filter-accessories">Аксессуары</label>
                </li>
              </ul>
            </fieldset>
            <button class="button filter-button" type="submit">Показать</button>
          </form>
        </section>
        <sectioncatalog>
          <h2 class="visually-hidden">Список средств для ухода</h2>
          <ul class="catalog-list">
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
            <li class="catalog-item"><a href="catalog-item.html">
                <h3><span class="catalog-category">Набор для путешествий</span><span class="catalog-item-title">«Baxter of California»</span></h3>
                <p><img src="img.jpg" width="220" height="165" alt="Набор для путешествий «Baxter of California»"/></p></a>
              <p class="catalog-item-price"><b>2900 Р.</b><a class="button" href="#">Купить</a></p>
            </li>
          </ul>
          <ul class="pagination">
            <li class="pagination-item"><a href="#">1</a></li>
            <li class="pagination-item pagination-item-current"><a href="#">2</a></li>
            <li class="pagination-item"><a href="#">3</a></li>
            <li class="pagination-item"><a href="#">4</a></li>
          </ul>
        </sectioncatalog>
      </main>
      <footer class="main-footer">
        <div class="container">
          <p class="footer-contacts">Барбершопа «Бородинский»<br>Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.<br><a href="map.html">Как нас найти</a><br>Телефон: +8(343)504-11-32</p>
          <p class="footer-social"><b>Давайте дружить!</b>
            <ul class="socials">
              <li><a class="social-button" href="#">Вконтакте</a></li>
              <li><a class="social-button" href="#">Фейсбук</a></li>
              <li><a class="social-button" href="#">Инстаграм</a></li>
            </ul>
          </p>
          <p class="footer-copyright"><b>Разработано:</b><a class="button" href="#">MyLink</a></p>
        </div>
      </footer>
      <section class="modal modal-login">
        <h2>Личный кабинет</h2>
        <p>Введите свой логин и пароль</p><span class="modal-close">x</span>
      </section>
    </div>
    <script src="js/vendor.min.js"></script>
    
  </body>
</html>

src/template/pages/Catalog.pug
extends ../layout


mixin catalogItem(catalogLink,category, itemTitle,srcIMG, wIMG, hIMG, altIMG, price)
    li.catalog-item
        a(href= catalogLink)
            h3
                span.catalog-category= category
                span.catalog-item-title= itemTitle
            p
                img(src=srcIMG width=wIMG height=hIMG alt=altIMG)
        p.catalog-item-price
            b= price
            a(href="#").button Купить

mixin filterGP(identificator, inputValue, desk, isChecked)
    li(class="filter-option")
        input(id=identificator  class="visually-hidden filter-input filter-input-radio" type="radio" name="product-group" value=inputValue, checked=isChecked)
        label(for=identificator )= desk

block title
    | Каталог товаров

block content
    header.main-header
        nav.main-navigation
            a(href="index.html").main-header-logo
                img(src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»")
            ul.site-navigation
                each desk, link in {'info.html':'Информация', 'news.html':'Новости', 'price.html':'Прайс-лист', 'catalog.html':'Магазин', 'contacts.html':"Контакты"}
                    if desk === "Магазин"
                        li.site-navigation-current
                            a(href= link)= desk
                    else
                        li
                            a(href= link)= desk
    main(class="inner-page")
        h1.page-title Средства для ухода
        ul.breadcrumbs
            li
                a(href="index.html") Главная
            li
                a(href="catalog.html") Магазин
            li.breadcrumbs-current Средства для ухода

        section.filters
            h2.visually-hidden Фильтр товаров
            form(class="filter" method="get" action="")
                fieldset
                    legend Производители:
                    ul
                        each item, ident in {'Baxter-of-california':'Baxter of California','Mr-natty':'Mr Natty','Suavecito':'Suavecito','Malin-goetz':'Malin+Goetz','Murray\'s':'Murray\'s','American-crew':'American crew'}
                            if item === 'Baxter of California' || item === "American crew" || item === "Suavecito"
                                li(class="filter-option")
                                    input(id=ident class="visually-hidden filter-input filter-input=checkbox" type="checkbox" name=item checked)
                                    label(for=ident)= item
                            else
                                li(class="filter-option")
                                    input(id=ident class="visually-hidden filter-input filter-input=checkbox" type="checkbox" name=item )
                                    label(for=ident)= item
                fieldset
                    legend Группы товаров:
                    ul
                        +filterGP('filter-shave','shaving', 'Бритвенные принадлежности')
                        +filterGP('filter-care','hair-care', 'Средства для ухода', 'checked')
                        +filterGP('filter-accessories','accessories', 'Аксессуары')
                button(class="button filter-button" type="submit") Показать

        sectioncatalog
            h2.visually-hidden Список средств для ухода
            ul.catalog-list
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
            ul.pagination
                each number in [1, 2, 3, 4]
                    if number === 2
                        li.pagination-item.pagination-item-current
                            a(href="#")= number
                    else
                        li.pagination-item
                            a(href="#")= number

    footer.main-footer
        div(class="container")
            p.footer-contacts
                | Барбершопа «Бородинский»
                br
                | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                br
                a(href="map.html") Как нас найти
                br
                | Телефон: +8(343)504-11-32
            p.footer-social
                b Давайте дружить!
                ul.socials
                    each social in ['Вконтакте', 'Фейсбук', 'Инстаграм']
                        li
                            a(href="#").social-button= social
            p.footer-copyright
                b Разработано:
                a(href="#").button MyLink

    section(class="modal modal-login")
        h2 Личный кабинет
        p Введите свой логин и пароль
        span.modal-close x
