build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница
    </title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="main-header">
        <nav class="main-navigation"><a class="main-header-logo" href="catalog.html"><img src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»"></a>
          <div class="main-navigation-wrapper">
            <div class="container">
              <ul class="site-navigation">
                <li><a href="info.html">Информация</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><a href="price.html">Прайс-лист</a></li>
                <li><a href="catalog.html">Магазин</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
              <ul class="user-navigation">
                <li><a class="login-link" href="login.html">Вход</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main class="container">
        <h1 class="visually-hidden">Барбершоп Бородинский</h1>
        <section class="features">
          <h2 class="visually-hidden">Преимущества</h2>
          <ul class="features-list">
            <li class="features-item">
              <h3>Быстро</h3>
              <p>Мы делаем свою работу быстро! Два часа пролетят незаметно и вы - частливый обладатель обладатель стильной стрижки-минутки!</p>
            </li>
            <li class="features-item">
              <h3>Круто</h3>
              <p>Забудьте как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.</p>
            </li>
            <li class="features-item">
              <h3>Дорого</h3>
              <p>Наши мастера - проффесионалы своего дела и немогут стоить дешего. К тому же, разве цена не дает определенный статус ?</p>
            </li>
          </ul>
        </section>
        <div class="index-columns">
          <section class="news">
            <h2>Новости</h2>
            <ul class="news-list">
              <li class="news-item">
                <p>Мы наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки</p>
                <time datetime="2018-09-01">01 августа 2018</time>
              </li>
              <li class="news-item">
                <p>В нашей команде пополнение, Борис &quot;Бритва&quot; Стригунец, обладатель множества титулов и наград пополнил наши ряды.</p>
                <time datetime="2018-09-11">11 августа 2018</time>
              </li>
            </ul><a class="button" href="news.html">Все новости</a>
          </section>
          <section class="gallery">
            <h2>Фотогалерея</h2>
            <div class="gallery-container">
              <figure class="gallery-content"><a href="#"><img src="assets/studio.jpg" alt="Интерьер" width="285" height="164"></a></figure>
              <button class="button gallery-button gallery-button-back">Назад</button>
              <button class="button gallery-button gallery-button-next">Вперед</button>
            </div>
          </section>
        </div>
        <div class="index-columns">
          <section class="contacts">
            <h2>Контактная информация</h2>
            <p>Барбершопа «Бородинский»<br>Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.<br>Телефон: +8(343)504-11-32</p>
            <p>Время работы:<br>пн-пт: с 10:00 до 22:00<br>сб-вс с 10:00 до 15:00</p><a class="button" href="map.html">Как проехать</a><a class="button" href="contacts.html">Обратная связь</a>
          </section>
          <section class="appointment">
            <h2>Записаться</h2>
            <p class="appointment-info">Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони.</p>
            <form class="appointment-form" action="https://echo.htmlacademy.ru" method="post">
              <p class="appointment-item">
                <label for="appointment-date">Дата</label>
                <input type="text" id="appointment-date" name="date" value="" placeholder="08.10.2018">
              </p>
              <p class="appointment-item">
                <label for="appointment-time">Время</label>
                <input type="text" id="appointment-time" name="time" value="" placeholder="10:00">
              </p>
              <p class="appointment-item">
                <label for="appointment-name">Ваше имя</label>
                <input type="text" id="appointment-name" name="name" value="" placeholder="Борода">
              </p>
              <p class="appointment-item">
                <label for="appointment-phone">Телефон</label>
                <input type="tel" id="appointment-phone" name="phone" value="" placeholder="+7(343)555-12-34">
              </p>
              <button class="button appointment-button" type="submit">Отправить</button>
            </form>
          </section>
        </div>
      </main>
      <footer class="main-footer">
        <div class="container">
          <p class="footer-contacts">Барбершопа «Бородинский»<br>Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.<br><a href="map.html">Как нас найти</a><br>Телефон: +8(343)504-11-32</p>
          <div class="footer-social"><b>Давайте дружить!</b>
            <ul class="socials">
              <li><a class="social-button" href="#"><span class="visually-hidden">Вконтакте</span>
                  <svg class="icon icon-vk" width="25" height="25" fill="#fff">
                    <use xlink:href="assets/spriteSVG.svg#vk"></use>
                  </svg></a></li>
              <li><a class="social-button" href="#"><span class="visually-hidden">Фейсбук</span>
                  <svg class="icon icon-facebook" width="25" height="25" fill="#fff">
                    <use xlink:href="assets/spriteSVG.svg#facebook"></use>
                  </svg></a></li>
              <li><a class="social-button" href="#"><span class="visually-hidden">Инстаграм</span>
                  <svg class="icon icon-instagram" width="25" height="25" fill="#fff">
                    <use xlink:href="assets/spriteSVG.svg#instagram"></use>
                  </svg></a></li>
            </ul>
          </div>
          <p class="footer-copyright"><b>Разработано:</b><a class="button" href="#">MyLink</a></p>
        </div>
      </footer>
      <section class="modal modal-login">
        <h2>Личный кабинет</h2>
        <p class="modal-description">Введите свой логин и пароль</p>
        <form class="login-form" action="https://echo.htmlacademy.ru" method="post">
          <p>
            <label class="visually-hidden" for="user-login">Логин</label>
            <input class="login-icon-user" type="text" id="user-login" name="login" placeholder="Логин">
          </p>
          <p>
            <label class="visually-hidden" for="user-password">Пароль</label>
            <input class="login-icon-password" type="password" id="user-password" name="password" placeholder="Пароль">
          </p>
          <p class="login-help">
            <label class="login-checkbox" for="login-password-info">Запомнить меня
              <input class="visually-hidden" type="checkbox" id="login-password-info" name="remember"><span class="checkbox-indicator"></span>
            </label><a class="restore" href="#">Я забыл пароль!</a>
          </p>
          <button class="button" type="submit">Войти</button>
        </form>
        <button class="modal-close" type="button">Закрыть</button>
      </section>
      <section class="modal modal-map">
        <h2 class="visually-hidden">Как до нас добраться</h2>
        <p><img src="/assets/modal-map.jpg" width="780" height="560" alt="Офис компании по адресу г. Екатеринбург, улица Пушкина, дом Колотушкина."></p>
        <button class="modal-close" type="button">Закрыть</button>
      </section>
    </div>
    <script src="js/vendor.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>

src/template/pages/index.pug
extends ../layout
mixin featuresItem(title,desk)
    li.features-item
        h3= title
        p= desk

mixin newsItem(desk, fullDate, timeDesk)
    li.news-item
        p= desk
        time(datetime=fullDate)= timeDesk
block title
    | Главная страница

block content
    header.main-header
        nav.main-navigation
            a(href="catalog.html").main-header-logo
                img(src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»")
            div(class="main-navigation-wrapper")
                div(class="container")
                    ul.site-navigation
                        each desk, link in {'info.html':'Информация', 'news.html':'Новости', 'price.html':'Прайс-лист', 'catalog.html':'Магазин', 'contacts.html':"Контакты"}
                            li
                                a(href=link)= desk

                    ul.user-navigation
                        li
                            a(href="login.html").login-link Вход

    main(class="container")
        h1.visually-hidden Барбершоп Бородинский
        section.features
            h2.visually-hidden Преимущества
            ul.features-list
                +featuresItem('Быстро','Мы делаем свою работу быстро! Два часа пролетят незаметно и вы - частливый обладатель обладатель стильной стрижки-минутки!')
                +featuresItem('Круто','Забудьте как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.')
                +featuresItem('Дорого','Наши мастера - проффесионалы своего дела и немогут стоить дешего. К тому же, разве цена не дает определенный статус ?')

        div(class="index-columns")
            section.news
                h2 Новости
                ul.news-list
                    +newsItem('Мы наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки', '2018-09-01', '01 августа 2018')
                    +newsItem('В нашей команде пополнение, Борис "Бритва" Стригунец, обладатель множества титулов и наград пополнил наши ряды.', '2018-09-11', '11 августа 2018')
                a(href="news.html").button Все новости

            section.gallery
                h2 Фотогалерея
                div(class="gallery-container")
                    figure.gallery-content
                        a(href="#")
                            img(src="assets/studio.jpg" alt="Интерьер" width="285" height="164")
                    button(class="button gallery-button gallery-button-back") Назад
                    button(class="button gallery-button gallery-button-next") Вперед

        div.index-columns
            section.contacts
                h2 Контактная информация
                p
                    | Барбершопа «Бородинский»
                    br
                    | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                    br
                    | Телефон: +8(343)504-11-32
                p
                    | Время работы:
                    br
                    |пн-пт: с 10:00 до 22:00
                    br
                    | сб-вс с 10:00 до 15:00
                a(href="map.html").button Как проехать
                a(href="contacts.html").button Обратная связь

            section.appointment
                h2 Записаться
                p.appointment-info Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони.
                form(action="https://echo.htmlacademy.ru" method="post").appointment-form
                    p.appointment-item
                        label(for="appointment-date") Дата
                        input(type="text" id="appointment-date" name="date" value="" placeholder="08.10.2018")
                    p.appointment-item
                        label(for="appointment-time") Время
                        input(type="text" id="appointment-time" name="time" value="" placeholder="10:00")
                    p.appointment-item
                        label(for="appointment-name") Ваше имя
                        input(type="text" id="appointment-name" name="name" value="" placeholder="Борода")
                    p.appointment-item
                        label(for="appointment-phone") Телефон
                        input(type="tel" id="appointment-phone" name="phone" value="" placeholder="+7(343)555-12-34")
                    button(type="submit" class="button appointment-button") Отправить
    footer.main-footer
        div(class="container")
            p.footer-contacts
                | Барбершопа «Бородинский»
                br
                | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                br
                a(href="map.html") Как нас найти
                br
                | Телефон: +8(343)504-11-32
            div.footer-social
                b Давайте дружить!
                ul.socials
                    each social,svgName in {'vk':'Вконтакте','facebook':'Фейсбук','instagram':'Инстаграм'}
                        li
                            a(href="#" class="social-button")
                                span(class="visually-hidden")= social
                                +icon(svgName, 25, 25, "#fff")
            p.footer-copyright
                b Разработано:
                a(href="#").button MyLink

    section(class="modal modal-login")
        h2 Личный кабинет
        p(class="modal-description") Введите свой логин и пароль
        form(class="login-form" action="https://echo.htmlacademy.ru" method="post")
            p
                label(class="visually-hidden" for="user-login") Логин
                input(type="text" id="user-login" class="login-icon-user" name="login" placeholder="Логин")
            p
                label(class="visually-hidden" for="user-password") Пароль
                input(type="password" id="user-password" class="login-icon-password" name="password" placeholder="Пароль")
            p(class="login-help")
                label(class="login-checkbox" for="login-password-info") Запомнить меня
                    input(type="checkbox" id="login-password-info" class="visually-hidden" name="remember" )
                    span(class="checkbox-indicator")
                a(class="restore" href="#") Я забыл пароль!
            button(class="button" type="submit") Войти
        button(type="button").modal-close Закрыть

    section(class="modal modal-map")
        h2.visually-hidden Как до нас добраться
        p
            img(src="/assets/modal-map.jpg" width=780 height=560 alt="Офис компании по адресу г. Екатеринбург, улица Пушкина, дом Колотушкина.")
        button(type="button").modal-close Закрыть

block localScripts
    script(src="/js/scripts.js")
